@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* @font-face {
    font-family: Canela;
    font-weight: 300;
    src: url(/fonts/canela/Canela-Light.otf) format("opentype");
  } */
  /* @font-face {
    font-family: Cheltenham;
    font-weight: 300;
    src: url(/fonts/cheltenham/300-normal.woff2) format("woff2");
  } */
  /* @font-face {
    font-family: Sharp Grotesk;
    font-weight: 700;
    src: url(/fonts/sharp-grotesk/700-normal.woff2) format("woff2");
  } */
  /* @font-face {
    font-family: Original Sans;
    font-weight: normal;
    font-style: normal;
    src: url(/fonts/original-sans/original-sans-three.otf) format("opentype");
  } */

  /* @font-face {
    font-family: 'circular-medium';
    font-weight: normal;
    font-style: normal;
    src: url(/fonts/circular/circular-medium.woff) format("woff");
  } */
  @font-face {
    font-family: 'Mona Sans';
    font-weight: 200 900;
    font-display: block;
    font-style: normal;
    font-stretch: 75% 125%;
    src: url('/fonts/mona/Mona-Sans.var.woff2') format("woff2");
  }
}